<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Robots" content="ALL" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>생활관리사 맞춤 서비스</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <h1 id="title">생활관리사 맞춤 서비스</h1>


    <div id="wrap">
        <div id="gnb">
            <h2 id="gnb-title">관리사 업무 현황</h2>
            <button id="gnb-menu"><span>메뉴</span></button>
            <ul id="gnb-list">
                <li><a href="mypage_p1">마이페이지</a></li>
                <li><a href="/">로그아웃</a></li>
            </ul>
        </div>
        <div id="contents">
            <div id="inner">
                <div class="profile">
                    <em class="profile-photo" style="background:url('../../img/profile_sample.jpg') no-repeat center center / cover"></em>
                    <h5 class="mt5"><b>안동현</b> 어르신</h5>
                    <br>
                </div>
                        <dl class="profile-list">
                            <dt><i class="fa fa-user" aria-hidden="true"></i>담당 관리사</dt>
                            <dd>김성현</dd>
                        </dl>        
                <div class="mypage-list mt20" style="text-align: center;">
                    <dl>
                       <dt style="font-size: 20px; border-bottom: 1px solid #ddd; padding: 5px 8px; text-align: left;">할 일 리스트</dt>
                       <dd class="mt20" style="font-size: 16px; padding: 10px 5px;">책읽기,목욕하기</dd>
                    </dl>
                    <dl>
                        <dt class="mt40" style="font-size: 20px; border-bottom: 1px solid #ddd; padding: 5px 8px; text-align: left;">메모</dt>
                        <dd class="mt30" style="padding:30px; border: 1px solid #ddd; border-radius: 10px;">메모메모메모메모</dd>
                    </dl>
                </div>
            </div><!-- inner -->
        </div><!-- content -->
    </div><!-- wrap -->




    <!-- JS -->
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/common.js"></script>
    <script>

    </script>
</body>

</html>