<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Robots" content="ALL" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>생활관리사 맞춤 서비스</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <h1 id="title">생활관리사 맞춤 서비스</h1>


    <div id="wrap">
        <div id="gnb">
            <h2 id="gnb-title">고정 업무</h2>
            <button id="gnb-menu"><span>메뉴</span></button>
            <ul id="gnb-list">
                <li><a href="list">오늘업무</a></li>
                <li><a href="calender">종합업무</a></li>
                <li><a href="workshare">인수인계</a></li>
                <li><a href="manage">어르신 관리</a></li>
                <li><a href="mypage">마이페이지</a></li>
                <li><a href="/">로그아웃</a></li>
            </ul>
        </div>
        <div id="contents">
            <div id="fix-inner">
                <div class="list-area">
                <ul class="list-group">
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>
                    <li class="list-item">
                        <a href="detail" class="list-item__link">
                            <em class="list-item__thumb" style="background:url('/profile_sample.jpg')no-repeat center center / cover;"></em>
                            <div class="list-item__text">
                                <h5><b>김춘배</b>어르신</h5>
                                <p>경기도 광명시 하안3동 / 67세 / 남</p>
                            </div>
                        </a>
                        <a href="tel:010-8300-7586" class="list-item__tel">전화걸기</a>
                    </li>

                </ul>
            </div>
            </div><!-- inner -->
        </div><!-- content -->
    </div><!-- wrap -->




    <!-- JS -->
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/common.js"></script>
    <script>

    </script>
</body>

</html>