<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Robots" content="ALL" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>생활관리사 맞춤 서비스</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1 id="title">생활관리사 맞춤 서비스</h1>


    <div id="wrap">
        <div id="gnb">
            <h2 id="gnb-title">마이페이지</h2>
            <button id="gnb-menu"><span>메뉴</span></button>
            <ul id="gnb-list">
                <li><a href="list.html">오늘업무</a></li>
                <li><a href="calender.html">종합업무</a></li>
                <li><a href="workshare.html">인수인계</a></li>
                <li><a href="manage.html">어르신 관리</a></li>
                <li><a href="mypage.html">마이페이지</a></li>
                <li><a href="../index.html">로그아웃</a></li>
            </ul>
        </div>
        <div id="contents">
            <div id="inner">
                <div class="profile">
                    <em class="profile-photo" style="background:url('/profile_sample.jpg') no-repeat center center / cover"></em>
                    <h5>안동현</h5>
                </div>
                        <dl class="profile-list">
                            <dt><i class="fa fa-phone" aria-hidden="true"></i>010-8300-7586</dt>
                            <dd><i class="fa fa-building-o" aria-hidden="true"></i><a href="http://www.chonansenior.org/">천안센터</a><i class="fa fa-angle-right" aria-hidden="true"></i></dd>
                        </dl>        
                <div class="mypage-list">
                    <ul>
                       <li><a href="modify.html">회원정보수정</a></li>
                       <li><a href="#">근무센터변경</a></li>
                       <li><a href="#">설정</a></li>
                       <li><a href="#">로그아웃</a></li>
                       <li><a href="tel:010-8300-7586">1:1 전화문의</a></li>
                       <li><a href="#">앱 관리</a></li>
                    </ul>
                </div>
            </div><!-- inner -->
        </div><!-- content -->
    </div><!-- wrap -->




    <!-- JS -->
    <script src="/jquery-2.2.1.min.js"></script>
    <script src="/placeholders.min.js"></script>
    <script src="/common.js"></script>
    <script>

    </script>
</body>

</html>