<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="Robots" content="ALL" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>생활관리사 맞춤 서비스</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <h1 id="title">생활관리사 맞춤 서비스</h1>


    <div id="wrap">
        <div id="gnb">
            <h2 id="gnb-title">인수인계</h2>
            <button id="gnb-menu"><span>메뉴</span></button>
            <ul id="gnb-list">
                <li><a href="list">오늘업무</a></li>
                <li><a href="calender">종합업무</a></li>
                <li><a href="workshare">인수인계</a></li>
                <li><a href="manage">어르신 관리</a></li>
                <li><a href="mypage">마이페이지</a></li>
                <li><a href="/">로그아웃</a></li>
            </ul>
        </div>
        <div id="contents">
            <div id="inner">
                <div class="input-area">
                    <input type="search" id="input-task">
                    <label for="task-label">
                        <span>인수인계 할 관리사 명을 입력하세요.</span>
                    </label>
                    <button class="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
                <div class="calender">
                    <div class="calender-inner">
                        <div class="calender-tb">
                            <button class="nav-btn go-today" onclick="goToday()">오늘 날짜로</button>
                            <div class="nav">
                                <div><button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button></div>
                                <div class="year-month"><span class="year"></span><span class="month"></span></div>
                                <div><button class="nav-btn go-next" onclick="nextMonth()">&gt;</button></div>
                            </div>
                            <div class="main">
                                <div class="days">
                                    <div class="day">일</div>
                                    <div class="day">월</div>
                                    <div class="day">화</div>
                                    <div class="day">수</div>
                                    <div class="day">목</div>
                                    <div class="day">금</div>
                                    <div class="day">토</div>
                                </div>
                                <div class="dates"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ws-title">
                    <h5 id="dayTitle">날짜를 선택하세요.</h5>
                </div>
                <div class="ws-list-box">
                    <ul class="ws-plan">
                            
                    </ul>
                    <br>
                    <button class="share">업무공유</button>
                </div>


                <p class="page-copy">Copyright &copy; Dongs All Rights Reserved.</p>

            </div><!-- inner -->
        </div><!-- content -->
    </div><!-- wrap -->




    <!-- JS -->
    <script src="js/jquery-2.2.1.min.js"></script>
    <script src="js/placeholders.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/calender.js"></script>
    <script src="js/workshare.js"></script>
    <script>

    </script>
</body>

</html>